# Node
node_modules/
npm-debug.log
*.log
outputs/*.log

# Environment and runtime secrets
.env*
!.env.example

# OS
.DS_Store
Thumbs.db

# Archives
*.zip

# IDE
.vscode/
.idea/

# Docker
docker-compose.override.yml

# Misc
BUILD_SHA
